@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
html,
hody {
  height: 100%;
  font-family: "DM Sans", serif !important;
}
em-emoji-picker {
  width: 350px;
  height: 400px;
  resize: horizontal;
  overflow: auto;
}

/* Custom scrollbar styles */
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(176, 174, 174, 0.7) #ddd; /* Firefox */
  transition: scrollbar-color 0.3s ease, scrollbar-width 0.3s ease;
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.scrollbar::-webkit-scrollbar-track {
  background: #ddd; /* Track color */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* Thumb color */
  border-radius: 100%; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth color change */
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Hover effect */
}

@layer base {
  :root {
    --background: oklch(1.0000 0 0);

    --foreground: oklch(0 0 0);

    --card: oklch(1.0000 0 0);

    --card-foreground: oklch(0 0 0);

    --popover: oklch(1.0000 0 0);

    --popover-foreground: oklch(0 0 0);

    --primary: oklch(0.6489 0.2370 26.9728);

    --primary-foreground: oklch(1.0000 0 0);

    --secondary: oklch(0.9680 0.2110 109.7692);

    --secondary-foreground: oklch(0 0 0);

    --muted: oklch(0.9551 0 0);

    --muted-foreground: oklch(0.3211 0 0);

    --accent: oklch(0.5635 0.2408 260.8178);

    --accent-foreground: oklch(1.0000 0 0);

    --destructive: oklch(0 0 0);

    --destructive-foreground: oklch(1.0000 0 0);

    --border: oklch(0 0 0);

    --input: oklch(0 0 0);

    --ring: oklch(0.6489 0.2370 26.9728);

    --chart-1: oklch(0.6489 0.2370 26.9728);

    --chart-2: oklch(0.9680 0.2110 109.7692);

    --chart-3: oklch(0.5635 0.2408 260.8178);

    --chart-4: oklch(0.7323 0.2492 142.4953);

    --chart-5: oklch(0.5931 0.2726 328.3634);

    --radius: 0px;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: oklch(0 0 0);

    --sidebar-primary: oklch(0.6489 0.2370 26.9728);

    --sidebar-primary-foreground: oklch(1.0000 0 0);

    --sidebar-accent: oklch(0.5635 0.2408 260.8178);

    --sidebar-accent-foreground: oklch(1.0000 0 0);

    --sidebar-border: oklch(0 0 0);

    --sidebar-ring: oklch(0.6489 0.2370 26.9728);

    --sidebar: oklch(0.9551 0 0);

    --font-sans: DM Sans, sans-serif;

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: Space Mono, monospace;

    --shadow-color: hsl(0 0% 0%);

    --shadow-opacity: 1;

    --shadow-blur: 0px;

    --shadow-spread: 0px;

    --shadow-offset-x: 4px;

    --shadow-offset-y: 4px;

    --letter-spacing: 0em;

    --spacing: 0.25rem;

    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);

    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);

    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);

    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);

    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);

    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);

    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);

    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);

    --tracking-normal: 0em;
  }
  .dark {
    --background: oklch(0 0 0);

    --foreground: oklch(1.0000 0 0);

    --card: oklch(0.3211 0 0);

    --card-foreground: oklch(1.0000 0 0);

    --popover: oklch(0.3211 0 0);

    --popover-foreground: oklch(1.0000 0 0);

    --primary: oklch(0.7044 0.1872 23.1858);

    --primary-foreground: oklch(0 0 0);

    --secondary: oklch(0.9691 0.2005 109.6228);

    --secondary-foreground: oklch(0 0 0);

    --muted: oklch(0.3211 0 0);

    --muted-foreground: oklch(0.8452 0 0);

    --accent: oklch(0.6755 0.1765 252.2592);

    --accent-foreground: oklch(0 0 0);

    --destructive: oklch(1.0000 0 0);

    --destructive-foreground: oklch(0 0 0);

    --border: oklch(1.0000 0 0);

    --input: oklch(1.0000 0 0);

    --ring: oklch(0.7044 0.1872 23.1858);

    --chart-1: oklch(0.7044 0.1872 23.1858);

    --chart-2: oklch(0.9691 0.2005 109.6228);

    --chart-3: oklch(0.6755 0.1765 252.2592);

    --chart-4: oklch(0.7395 0.2268 142.8504);

    --chart-5: oklch(0.6131 0.2458 328.0714);

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: oklch(1.0000 0 0);

    --sidebar-primary: oklch(0.7044 0.1872 23.1858);

    --sidebar-primary-foreground: oklch(0 0 0);

    --sidebar-accent: oklch(0.6755 0.1765 252.2592);

    --sidebar-accent-foreground: oklch(0 0 0);

    --sidebar-border: oklch(1.0000 0 0);

    --sidebar-ring: oklch(0.7044 0.1872 23.1858);

    --radius: 0px;

    --sidebar: oklch(0 0 0);

    --font-sans: DM Sans, sans-serif;

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: Space Mono, monospace;

    --shadow-color: hsl(0 0% 0%);

    --shadow-opacity: 1;

    --shadow-blur: 0px;

    --shadow-spread: 0px;

    --shadow-offset-x: 4px;

    --shadow-offset-y: 4px;

    --letter-spacing: 0em;

    --spacing: 0.25rem;

    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);

    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);

    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);

    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);

    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);

    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);

    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);

    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  }
  .theme {
    --font-sans: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0px;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button[data-placeholder] {
    @apply text-muted-foreground;
  }
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(0, 0, 0);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(0, 0, 0);
  --primary: rgb(255, 51, 51);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(255, 255, 0);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(240, 240, 240);
  --muted-foreground: rgb(51, 51, 51);
  --accent: rgb(0, 102, 255);
  --accent-foreground: rgb(255, 255, 255);
  --destructive: rgb(0, 0, 0);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(0, 0, 0);
  --input: rgb(0, 0, 0);
  --ring: rgb(255, 51, 51);
  --chart-1: rgb(255, 51, 51);
  --chart-2: rgb(255, 255, 0);
  --chart-3: rgb(0, 102, 255);
  --chart-4: rgb(0, 204, 0);
  --chart-5: rgb(204, 0, 204);
  --sidebar: rgb(240, 240, 240);
  --sidebar-foreground: rgb(0, 0, 0);
  --sidebar-primary: rgb(255, 51, 51);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(0, 102, 255);
  --sidebar-accent-foreground: rgb(255, 255, 255);
  --sidebar-border: rgb(0, 0, 0);
  --sidebar-ring: rgb(255, 51, 51);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(0, 0, 0);
  --foreground: rgb(255, 255, 255);
  --card: rgb(51, 51, 51);
  --card-foreground: rgb(255, 255, 255);
  --popover: rgb(51, 51, 51);
  --popover-foreground: rgb(255, 255, 255);
  --primary: rgb(255, 102, 102);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(255, 255, 51);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(51, 51, 51);
  --muted-foreground: rgb(204, 204, 204);
  --accent: rgb(51, 153, 255);
  --accent-foreground: rgb(0, 0, 0);
  --destructive: rgb(255, 255, 255);
  --destructive-foreground: rgb(0, 0, 0);
  --border: rgb(255, 255, 255);
  --input: rgb(255, 255, 255);
  --ring: rgb(255, 102, 102);
  --chart-1: rgb(255, 102, 102);
  --chart-2: rgb(255, 255, 51);
  --chart-3: rgb(51, 153, 255);
  --chart-4: rgb(51, 204, 51);
  --chart-5: rgb(204, 51, 204);
  --sidebar: rgb(0, 0, 0);
  --sidebar-foreground: rgb(255, 255, 255);
  --sidebar-primary: rgb(255, 102, 102);
  --sidebar-primary-foreground: rgb(0, 0, 0);
  --sidebar-accent: rgb(51, 153, 255);
  --sidebar-accent-foreground: rgb(0, 0, 0);
  --sidebar-border: rgb(255, 255, 255);
  --sidebar-ring: rgb(255, 102, 102);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
}